* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-image: url("../../assets/stacked-waves-haikei.svg");
  background-size: cover;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

button {
  min-height: 4.8rem;
  padding: 1rem 5rem;
  border: none;

  font-family: "Poppins", sans-serif;
  font-size: $fs-3;
  text-decoration: none;

  background-color: $color-secondary;
  color: #fff;
  border-radius: $br-round;
}

button:hover {
  background-color: lighten($color-secondary, 5);
}

button:disabled {
  background-color: lighten($color-secondary, 10);
  cursor: default;
}

.overlay-bg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  backdrop-filter: blur(3px);
  background-color: rgba($color-grey-darkest, 0.6);
}
