// COLORS
$color-primary: #c08261;
$color-secondary: #daaa63;
$color-font-1: #2c1810;

$color-light-grey-1: #d9d9d9;

// FONTS
$fs-1: 1.4rem;
$fs-2: 1.6rem;
$fs-3: 1.8rem;
$fs-4: 2rem;
$fs-5: 2.4rem;
$fs-6: 2.8rem;
$fs-7: 3.2rem;

// BORDER RADIUS
$br-smallest: 5px;
$br-small: 8px;
$br-round: 100px;
