.auth-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  display: flex;
  width: 60vw;
  max-width: 100rem;
  height: 80vh;
  overflow: hidden;
  border-radius: $br-small;
  background-color: #ebebeb;
  background: linear-gradient(to right bottom, #ebebeb, #f7f7f7);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  .image-side {
    order: 1;
    width: 50%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }

  .form-side {
    order: 2;
    display: flex;
    justify-content: center;
    margin: auto;

    h1 {
      font-family: "Libre Baskerville", sans-serif;
      color: $color-grey-dark-2;
      font-size: $fs-4;
      margin-bottom: $m4;
      font-weight: 600;
    }
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $m2;
  width: 40rem;
  max-width: 100%;
  padding: $p4;
  border-radius: $br-medium;
  animation: slide-down 300ms ease-out forwards;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      flex-direction: column;
      color: $color-grey-dark-2;
      font-size: $fs-2;
      gap: 3px;
      margin-bottom: 1.6rem;

      &.form-input--invalid {
        input {
          border: 1px solid $color-error;
          background-color: lighten($color-error, 45%);
        }

        input:focus {
          border: 1px solid $color-secondary;
          background-color: lighten($color-secondary, 40%);
          outline: none;
        }
      }
    }

    input {
      font-family: "Poppins", sans-serif;
      color: $color-grey-dark-2;
      height: 3.2rem;
      border-radius: $br-small;
      border: 1px solid rgba($color-grey-dark-1, 0.1);
      background-color: #fff;
      text-indent: 1rem;
      font-size: $fs-2;
      transition: $transition-short;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;

      &::placeholder {
        font-weight: 300;
        color: $color-grey-dark-3;
      }

      &:focus {
        border: 1px solid $color-grey-dark-3;
        outline: 0;
      }
    }

    // .form__errors {
    //   margin-bottom: 2rem;

    //   &-item {
    //     list-style: none;
    //     font-size: 1.6rem;
    //     color: crimson;
    //     margin-bottom: $m1;
    //   }
    // }

    .auth-submit {
      position: relative;
      font-family: "Libre Baskerville", sans-serif;
      margin-top: $m3;
      width: 100%;
    }

    .auth-change {
      width: 100%;
      margin-top: $m2;
      background-color: $color-grey-light-2;
      border: 2px solid $color-grey-light-4;
      color: $color-grey-dark-3;
    }
  }
  .error-text {
    color: $color-error;
    font-size: $fs-2;
    margin-bottom: $m2;
  }
}

.btn-spinner {
  animation: rotateSpinner 1s infinite;
}

.switch-auth-page {
  margin-top: $m2;
  color: $color-grey-dark-2;
  font-size: $fs-2;

  a {
    text-decoration: none;
    color: $color-secondary;
    font-weight: bold;
    transition: $transition-short;

    &:hover {
      color: lighten($color-secondary, 10);
    }
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .image-side {
    display: none;
  }

  .auth-container .form-side {
    margin-top: 10%;
    max-width: 100%;
  }
}
