.error {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 60rem;
    min-height: 30rem;
    border-radius: $br-medium;
    padding: $p3;

    text-align: center;
  }

  &__status {
    color: $color-error;
    font-size: 8rem;
  }

  &__title {
    color: $color-accent;
    font-size: $fs-5;
    font-weight: 500;
  }

  &__message {
    color: $color-grey-dark-2;
    font-size: $fs-3;
    margin-bottom: $m4;
  }

  button {
    background-color: $color-accent;
    background-color: lighten($color-dark-primary, 10);

    &:hover {
      background-color: lighten($color-dark-primary, 15);
    }
  }
}
