.home {
  &__title {
    position: absolute;
    top: -5%;
    left: 1rem;

    font-family: "Averia Serif Libre", sans-serif;
    font-size: $fs-7;
    color: white;
    font-weight: 300;
  }

  &__containers {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 0 2vw;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: $m3;

    // .new-book-btn {
    //   position: absolute;
    //   top: -5.8rem;
    //   right: 4rem;
    // }
    // .edit-book-btn {
    //   position: absolute;
    //   top: -5.8rem;
    //   right: 26rem;
    // }

    // .table-search {
    //   position: absolute;
    //   top: -3.8rem;

    //   & input {
    //     height: 3rem;
    //     border: none;
    //     border-radius: $br-small;
    //     padding-left: 1rem;

    //     &::placeholder {
    //       font-style: italic;
    //     }
    //   }
    // }

    .book-actions {
      position: absolute;
      top: -5.8rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-size: $fs-2;

      &_buttons {
        display: flex;
        gap: 1rem;

        button {
          font-size: inherit;
        }

        button {
          display: flex;
          align-items: center;
          padding: 0 1rem;
          background-color: $color-accent;
          transition: $transition-short;

          &:disabled {
            background-color: lighten($color-accent, 10);
          }

          &:hover {
            transform: translateY(-0.3rem);
          }

          svg {
            height: 1.5em;
            width: 1.5em;
          }
        }
      }

      .table-search {
        // top: -3.8rem;
        flex-grow: 1;
        font-size: inherit;
        display: flex;
        align-items: center;

        & input,
        &__icon {
          height: 3.2rem;
          background-color: rgba($color-grey-light-1, 0.95);
        }

        & input {
          font-size: inherit;
          height: 3.2rem;
          width: 60%;
          border: none;
          border-bottom-left-radius: $br-small;
          border-top-left-radius: $br-small;
          padding-left: 1rem;
          background-color: rgba($color-grey-light-1, 0.95);

          &::placeholder {
            font-style: italic;
          }

          &:focus {
            // outline: 1px solid $color-grey-dark-2;
            outline: none;
          }
        }

        &__icon {
          color: $color-grey-dark-2;
          font-size: $fs-6;
          background-color: rgba($color-grey-light-1, 0.95);
          border-bottom-right-radius: $br-small;
          border-top-right-radius: $br-small;
          padding-right: $p1;
        }
      }
    }
  }

  &__filters-container {
    flex: 1;
    height: 80vh;
    padding: $p2;
    display: flex;
    flex-direction: column;
  }

  &__table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__filters-container,
  &__table-container,
  &__mosaic-container {
    height: 80vh;
    background-color: rgba($color-grey-light-3, 0.8);
    border-top-left-radius: $br-small;
    border-top-right-radius: $br-small;
  }

  &__table-container,
  &__mosaic-container {
    flex: 4;
    position: relative;

    thead tr th {
      border-top-left-radius: $br-small;
      border-top-right-radius: $br-small;
    }
  }

  &__mosaic-items {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 12rem);
    grid-gap: $m3;
    margin: 0 auto;
  }
}
