.home {
  &__title {
    position: absolute;
    top: -5%;
    left: 1rem;

    font-family: "Averia Serif Libre", sans-serif;
    font-size: $fs-7;
    color: white;
    font-weight: 300;
  }

  &__containers {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 0 2vw;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: $m3;

    .new-book-btn {
      position: absolute;
      top: -5.8rem;
      right: 4rem;
    }
    .edit-book-btn {
      position: absolute;
      top: -5.8rem;
      right: 26rem;
    }
  }

  &__filters-container {
    flex: 1;
    height: 80vh;
  }

  &__filters-container,
  &__table-container,
  &__mosaic-container {
    height: 80vh;
    background-color: rgba($color-grey-light-3, 0.8);
    border-top-left-radius: $br-small;
    border-top-right-radius: $br-small;
  }

  &__table-container,
  &__mosaic-container {
    flex: 4;
    position: relative;
    overflow: hidden;
  }

  &__mosaic-items {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 12rem);
    grid-gap: $m3;
    margin: 0 auto;
  }
}
