.home {
  &__title {
    position: absolute;
    top: -5%;
    left: 1rem;

    font-family: "Averia Serif Libre", sans-serif;
    font-size: 3.2rem;
    color: white;
    font-weight: 300;
  }

  &__containers {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 0 2vw;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;
  }

  &__filters-container {
    flex: 1;
    height: 80vh;
  }

  &__filters-container,
  &__table-container,
  &__mosaic-container {
    height: 80vh;
    background-color: rgba($color-light-grey-1, 0.8);
    border-top-left-radius: $br-small;
    border-top-right-radius: $br-small;
    // padding: 1rem;
  }

  &__table-container,
  &__mosaic-container {
    flex: 4;
    position: relative;
    overflow: hidden;
  }
  &__table-container {
  }

  &__mosaic-container {
  }

  &__mosaic-items {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 12rem);
    grid-gap: 2rem;
    margin: 0 auto;
  }
}
