table {
  border-collapse: collapse;
  width: 100%;
  font-size: $fs-1;
}

th {
  color: $color-dark-primary;
  font-weight: 600;
  user-select: none;
}

td {
  color: $color-grey-dark-1;
  font-weight: 400;
}

td,
th {
  text-align: left;
  padding: $p1 $p2;
}

thead tr {
  background-color: $color-tr-1;
}

tr {
  background-color: $color-tr-2;
}

tr:nth-child(even) {
  background-color: $color-tr-1;
}
