.home__table-container {
  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: rgba($color: #fff, $alpha: 0.5);
    /* Not removed via appearance */
    margin: 0;

    color: $color-grey-dark-2;

    font: inherit;
    // color: currentColor;
    width: 1.4em;
    height: 1.4em;
    border: 0.12em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.9em;
    height: 0.9em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: #fff;
  }

  input[type="checkbox"]:checked {
    background-color: $color-accent;
    border-color: $color-accent;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);

    color: var(--form-control-disabled);
    cursor: not-allowed;
  }

  .table-pagination {
    display: flex;
    align-items: center;
    font-size: $fs-2;
    color: $color-grey-dark-2;
    padding: 1rem 2rem;

    span {
      margin: 0 1rem;
    }

    button {
      min-height: unset;
      padding: 0.5rem 1.5rem;
      border-radius: $br-small;
      background-color: darken($color-secondary, 5);

      &:disabled {
        background-color: lighten($color-secondary, 8);
      }

      svg {
        display: flex;
        align-items: center;
      }
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: $fs-1;
}

th {
  color: $color-dark-primary;
  font-weight: 600;
  user-select: none;
}

td {
  color: $color-grey-dark-1;
  font-weight: 400;
}

td,
th {
  text-align: left;
  padding: $p1 $p2;
}

thead tr {
  background-color: $color-tr-1;
}

tr {
  background-color: $color-tr-2;
  position: relative;
}

tr:nth-child(even) {
  background-color: $color-tr-1;
}
