.confirm-deletion-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: fit-content;
  min-height: fit-content;
  padding: 8rem 5rem;
  backdrop-filter: blur(3px);
  background-color: rgba($color-grey-light-1, 0.75);
  z-index: 100;
  border-radius: $br-small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  h2 {
    font-size: $fs-4;
    color: $color-grey-dark-2;
    font-weight: 500;
  }

  &__buttons {
    display: flex;
    gap: 1rem;

    &--cancel {
      background-color: $color-grey-dark-2;

      &:hover {
        background-color: lighten($color-grey-dark-2, 10);
      }
    }
  }
}
