.header {
  display: flex;
  justify-content: space-between;
  padding: $p2 $p4;
  font-family: "Averia Serif Libre", sans-serif;

  &__title {
    font-size: $fs-7;
    font-weight: 300;
    color: #fff;
  }

  &__logout-btn {
    font-family: "Averia Serif Libre", sans-serif;
    background-color: $color-secondary;
  }
}

.view-toggle {
  background-color: $color-grey-light-3;
  padding: 1.2rem 1rem;
  border-radius: $br-round;
  // display: inline-block;
  font-size: $fs-3;
  transition: $transition-short;

  & [name="view"] {
    display: none;
  }

  & input[type="radio"] + label {
    background-color: $color-grey-light-3;
    color: $color-grey-dark-3;
    padding: 0.6rem 4rem;
    border-radius: $br-round;
    cursor: pointer;
    user-select: none;
    transition: $transition-short;
  }

  & input[type="radio"]:checked + label {
    background-color: $color-secondary;
    color: $color-grey-dark-1;
  }
}
